#
###################################################################################################
#      ____  _____ ____  _   _  ____  ____  U _____ u __  __      _      
#     / __ \| ____|  _ \| | | |/ ___|| __ )| |  _  | \ \/ /     / \     
#    | |  | |  _| | |_) | | | | |  _ |  _ \| |_| | |  \  /     / _ \    
#    | |__| | |___|  _ <| |_| | |_| || |_) |  _  | |  /  \    / ___ \   
#     \____/|_____|_| \_\\___/ \____||____/|_| |_| |_|/_/\_\ /_/   \_\  
#
#   Server Buffs Module
#
###################################################################################################

[worldserver]

###################################################################################################
#
#    서버 버프 - 모듈 활성화 및 메시지 설정
#        Description: 서버 전체에 버프를 적용하는 모듈의 활성화 및 메시지 관련 설정입니다.
#        Author:      Kazamok, AzerothCore Community
#
###################################################################################################

#
#    ServerBuffs.Enable
#        Description: 서버 버프 모듈의 활성화 여부를 설정합니다.
#        Default:     1 - (활성화)
#                     0 - (비활성화)
#
ServerBuffs.Enable = 1

#
#    ServerBuffs.AnnounceMessage
#        Description: 버프가 적용될 때 표시할 메시지를 설정합니다.
#        Default:     "[시스템] 서버 전역 버프가 적용되었습니다!"
#
ServerBuffs.AnnounceMessage = "[시스템] 서버 전역 버프가 적용되었습니다!"

#
#    ServerBuffs.ShowAnnounceMessage
#        Description: 버프 적용 시 메시지 표시 여부를 설정합니다.
#        Default:     1 - (활성화)
#                     0 - (비활성화)
#
ServerBuffs.ShowAnnounceMessage = 1

###################################################################################################
#
#    서버 버프 - 버프 및 시전 시간 설정
#        Description: 적용할 버프 주문과 시전 시간을 설정합니다.
#        Author:      Kazamok, AzerothCore Community
#
###################################################################################################

#
#    ServerBuffs.BuffSpells
#        Description: 적용할 버프의 주문 ID 목록을 쉼표(,)로 구분하여 입력합니다.
#        Example:     @BLACKHAND := 16609, @ONICIA := 22888, @HAKAR := 24425, @HEALTHCRM := 34410,
#                     57015 스피드1시간, 57016 모능익2시간, 57017 적이속2시간, 57018 크리1시간
#
ServerBuffs.BuffSpells = 57015,57016,57017,57018

#
#    ServerBuffs.CastTimes
#        Description: 버프를 시전할 시간을 HH:MM 형식으로 쉼표(,)로 구분하여 입력합니다.
#        Example:     09:00,12:00,18:00,21:00
#
ServerBuffs.CastTimes = 02:30,05:00,06:30,09:00,11:30,14:00,16:30,19:00,21:30,00:00

#
#    ServerBuffs.ExcludeLevels
#        Description: 버프 적용에서 제외할 레벨 목록을 쉼표(,)로 구분하여 입력합니다.
#        Example:     60,70,80
#

ServerBuffs.ExcludeLevels = 60,70,80

###################################################################################################
#
#    추가 옵션
#    특별 버프 - 특별 버프를 관리
#        Description: 시전 주기, 제외할 레벨은 그대로 적용하고 추가된 옵션으로 시전될 특별 버프
#        Author:      Kazamok, AzerothCore Community
#
###################################################################################################

#
#    ServerBuffs.Specialbuffs
#        Description: 특별 버프 목록을 쉼표(,)로 구분하여 입력합니다.
#        Example:     12345,56789
#

ServerBuffs.Specialbuffs = 12345,56789

#
#    ServerBuffs.ExcludeClasss
#        Description: 특별 버프 적용에서 제외할 클래스 목록을 쉼표(,)로 구분하여 입력합니다.
#        Example:     Warrior,Rogue,Hunter,Priest,Paladin,Shaman,Mage,Warlock,Druid,DeathKnight
#

ServerBuffs.ExcludeClasss = Warrior,Rogue,Paladin,
